body{
    background-color: beige;
}

    


nav{
    background-color: teal;
    
}

nav a{
    color: white;
    margin: 5px;
    
}

#tbt{
    background-color: rgb(80, 190, 179);
}

#carouselExampleIndicators{
    margin: 60px;
}

.button {
    background-color: rgb(214, 20, 214);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.card{
    background-color:hsla(120,100%,25%,0.3);
    cursor: pointer;
}

#p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    font-size: xx-large;
}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

p1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

footer{
    background-color: teal;
    height: 300px;
    margin-top: 60px;
}

h5{
    font-size: 100px;
    margin: 50px;
}

.hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: red;
  }

  #ran{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .box {
    position: relative;
    width: 100%;
    margin-top: 50px;
    
 }
 .box img {
    width: 100%;
    height: auto;
 }
 .box .bx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .bx{
    background-color: rgb(214, 20, 214);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

 }


.jumbotron{
    background-color: white;
    margin-top: 50px;
    height: 300px;
    padding: 120px;
    
    
}

nav .dropdown-item{
    display: inline;
    box-sizing: border-box;

    

}

